# --- System / IDE Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Frontend ---

node_modules/
/client/task-tracker/dist/
/client/task-tracker/build/
/client/task-tracker/.env
/client/task-tracker/.env.local


# NET
[Bb]in/
[Oo]bj/
*.user
*.suo
/server/.vs/

# --- Shared ---
