<div class="app-container">
  <nav class="navbar sticky-top bg-dark border-bottom border-body py-2" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <h3 routerLink="/tasks" class="clickable">📋 {{title}}</h3>
      </a>
      <form class="d-flex flex-grow-1 " role="search" (submit)="$event.preventDefault()">
        <input class="form-control me-2" type="search" placeholder="Search tasks..." aria-label="Search"
          (input)="onSearch($event)" />
      </form>
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/tasks" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: false}" class="nav-link mx-4"> All Tasks</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link nav-link-primary " routerLink="/tasks/create" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: false}">
            Add New Task
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-dark border-bottom" data-bs-theme="dark">
    <div class="container text-center py-3 text-white">
      <p>&copy;{{ currentYear }} Task Tracker. Created using Angular {{ angularVersion }}</p>
    </div>
  </footer>
</div>